@font-face{
    font-family: "Baufra-Bold";
    src : url("../../fonts/Baufra-Bold.woff");
}
@font-face{
    font-family: "Baufra-DemiBold";
    src : url("../../fonts/Baufra-DemiBold.woff");
}
@font-face{
    font-family: "Baufra-Medium";
    src : url("../../fonts/Baufra-Medium.woff");
}
@font-face{
    font-family: "Baufra-Regular";
    src : url("../../fonts/Baufra-Regular.woff");
}
@font-face{
    font-family: "Baufra-SemiBold";
    src : url("../../fonts/Baufra-SemiBold.woff");
}
@font-face{
    font-family: "gothic";
    src : url("../../fonts/GOTHIC.TTF");
}